  <div class="main-footer">

    <div class="footer-column-1">
    <a href="{{ site.baseurl }}/"><span class="logo-text">Jenie</span></a> |
    <a id="to-toggle-faq" href="#toggle-faq">help</a> |
    terms |
    privacy
    </div>

    <div class="footer-column-2">
    <a href="https://www.facebook.com/pages/Jenie/1100890559952711"><img class="footer-btn" src="{{ site.baseurl }}/img/facebook.png" /></a>
    <a href="mailto:anotherdothq@gmail.com"><img class="footer-btn" src="{{ site.baseurl }}/img/mail.png" /></a>
    </div>

  </div>
