  <div class="main-footer">

    <div class="footer-column-1">
    <h2>Navigation</h2>
    <a href="{{ site.baseurl }}/">Home</a><br />
    <a id="to-toggle-faq" href="#toggle-faq">Questions & Answers</a><br />
    Terms of Service<br />
    Privacy Policy<br />
    </div>

    <div class="footer-column-2">
    <h2>Connect</h2>
    <a href="https://www.facebook.com/pages/Jenie/1100890559952711">Facebook</a><br />
    <a href="mailto:anotherdothq@gmail.com">anotherdothq@gmail.com</a><br />
    </div>

  </div>
