@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* ----- Global */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  background-color: #2980b9;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  margin: 0rem;
  min-width: 320px;
}

a,
a:visited {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.logo-text {
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
}

/* ----- responsive */
@media (max-width: 960px) {
  html, body {
    font-size: 4vw;
  }
}

/* ----- main-header */
.main-header {
  background-color: #333;
  text-align: center;
  padding: 0 1rem 2rem;
  box-shadow: 0 1vw 0 rgba(0, 0, 0, 0.25);
}

.product-title {
  color: #fff;
  font-family: 'Lobster', sans-serif;
  font-size: 7rem;
  padding-bottom: 1rem;
}

.product-subtitle {
  color: #fff;
  font-size: .6rem;
  font-weight: 500;
  text-align: center;
  margin: -2rem -4rem 2rem 0;
}

#chan-btn {
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  background: #2980b9;
  width: 512px;
  max-width: 60vw;
  margin: 0 auto;
  padding: .5rem;
  box-shadow: 0 1vw 0 rgba(0, 0, 0, .25);
  border: none;
  cursor: pointer;
}

#chan-btn:hover {
  color: #2980b9;
  background: #fff;
  box-shadow: 0 1vw 0 rgba(41, 128, 185, 1);
}

img.chan-img {
  width: 8vw;
  max-width: 80px;
  margin: -.3rem .5rem -.6rem 0rem;
}

/* ----- main-content */
.main-content {
  text-align: center;
}

.content-text {
  margin: 2rem 0;
  font-size: 1.25rem;
  font-weight: 700;
}

img.phone {
  width: 60vw;
  max-width: 480px;
}

.faq-container {
  font-size: 1.2rem;
}

#faq-btn {
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  background: #333;
  width: 512px;
  max-width: 20vw;
  margin: 0 auto;
  padding: .5rem;
  box-shadow: 0 1vw 0 rgba(0, 0, 0, .25);
  border: none;
  cursor: pointer;
}

#faq-btn:hover {
  color: #2980b9;
  background: #fff;
}

.faq-content {
  display: none;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  font-size: .7rem;
  color: #fff;
  text-align: left;
  margin: 0rem 2rem 0 2rem;
  padding: 2rem 1rem 0 1rem;
}

.faq-question {
  font-weight: 700;
}

.faq-answer {
  padding: 0 0 1rem 0;
}

.news-banner {
  background-color: #333;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 3rem 0;
  padding: 1rem .5rem;
  box-shadow: 0 1vw 0 rgba(0, 0, 0, .25);
}

#mc_embed_signup {
  color: #444;
  font-size: 1rem;
  margin-top: .5rem;
}

input#mce-EMAIL::-webkit-input-placeholder {
  color: #444;
  font-family: 'Roboto', sans-serif;
}

/* IE fix */
input#mce-EMAIL:-ms-input-placeholder {
  color: #444;
  font-family: 'Roboto', sans-serif;
}

input#mce-EMAIL {
  background-color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #2980b9;
  width: 18.25rem;
  border: 0;
}

input#mce-EMAIL:focus {
  outline: 0;
}

/* remove IE clear button */
input#mce-EMAIL::-ms-clear {
  width : 0;
  height: 0;
}

#mc-embedded-subscribe {
  background: url("../img/submit.png") no-repeat;
  background-size: contain;
  width: 4vw;
  height: .75rem;
  border: 0;
  cursor: pointer;
}

/* ----- main-footer */
.main-footer {
  color: rgba(0, 0, 0, .25);
  font-size: .65rem;
  text-align: left;
  margin: 0 1rem 1.5rem 1rem;
  overflow: hidden;
}

@media screen and (orientation: portrait) {
  .main-footer {
    font-size: .85rem;
    margin-bottom: 3.5rem;
  }
}

.footer-column-1 {
  float: left;
}

.footer-column-2 {
  text-align: right;
  float: right;
}

img.footer-btn {
  width: 5vw;
  max-width: 56px;
}
